<form autocomplete="off">
  <div class="left-column">
    {{> "dnd5e.advancement-controls"}}
    <div class="form-group">
      <label>{{localize "DND5E.AdvancementHint"}}</label>
      <textarea name="configuration.hint">{{configuration.hint}}</textarea>
    </div>

    <div class="form-group">
      <label>{{localize "SPELL-LIST.advancement.spellChoice.override.title"}}</label>
      <div class="form-fields">
         <input type="text" name="configuration.list" value="{{configuration.list}}">
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "SPELL-LIST.advancement.spellChoice.subclass.title"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="configuration.includeSubclass" {{checked configuration.includeSubclass}}>
      </div>
      <p class="hint">{{localize "SPELL-LIST.advancement.spellChoice.subclass.hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "DND5E.AdvancementConfigureAllowDrops"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="configuration.allowDrops" {{checked configuration.allowDrops}}>
      </div>
      <p class="hint">{{localize "DND5E.AdvancementConfigureAllowDropsHint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "DND5E.SpellLevel"}}</label>
      <div class="form-fields">
        <select name="configuration.restriction.level">
          {{#select configuration.restriction.level}}
            <option value="">&mdash;</option>
            {{#each CONFIG.spellLevels as |label key|}}
              <option value="{{key}}">{{label}}</option>
            {{/each}}
            <option value="available">{{localize "DND5E.AdvancementItemChoiceSpellLevelAvailable"}}</option>
          {{/select}}
        </select>
      </div>
      <p class="hint">{{localize "DND5E.AdvancementItemChoiceSpellLevelHint"}}</p>
    </div>

    {{> "dnd5e.advancement-spell-config"}}

    <ol class="items-list">
      <li class="items-header flexrow">
        <h3 class="item-name">{{localize "SPELL-LIST.advancement.spellChoice.listDetail.title"}}</h3>
      </li>
      <ol class="item-list">
        {{#each preview.spells}}
        <li class="item flexrow" data-item-uuid="{{uuid}}">
          <div class="item-name">{{{dnd5e-linkForUuid uuid}}}</div>
        </li>
        {{/each}}
        <li class="item flexrow">{{localize "SPELL-LIST.advancement.spellChoice.listDetail.total"}} ({{preview.total}})</li>
      </ol>
    </ol>

    <div class="drop-target">
      <ol class="items-list">
        <li class="items-header flexrow"><h3 class="item-name">{{localize "SPELL-LIST.advancement.spellChoice.listDetail.additional"}}</h3></li>
        <ol class="item-list">
        {{#each configuration.pool}}
          <li class="item flexrow" data-item-uuid="{{this}}">
            <div class="item-name">{{{dnd5e-linkForUuid this}}}</div>
            <div class="item-controls flexrow">
              <a class="item-control item-action" data-action="delete" title="{{localize 'DND5E.ItemDelete'}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
        {{/each}}
        </ol>
      </ol>

      <p class="hint centered">{{localize "DND5E.AdvancementConfigureDropAreaHint"}}</p>
    </div>
  </div>

  <div class="right-column level-list">
    <ol class="items-list">
        <li class="items-header flexrow">
            <span class="level-header">
                {{ localize "DND5E.AbbreviationLevel" }}
            </span>
            <span id="{{ appId }}-choices" class="choices-header">
                {{ localize "DND5E.AdvancementItemChoiceChoices" }}
            </span>
            <span id="{{ appId }}-replacement" class="replacement-header">
                <i class="fa-solid fa-shuffle" data-tooltip="DND5E.AdvancementItemChoiceReplacement"
                    aria-label="{{ localize 'DND5E.AdvancementItemChoiceReplacement' }}"></i>
            </span>
        </li>
    </ol>
    {{#each choices}}
      <div class="form-group">
        <label>{{label}}</label>
        <div class="form-fields">
                <input type="number" name="configuration.choices.{{ @key }}.count" value="{{ count }}" placeholder="0"
                       min="1" step="1" aria-labelledby="{{ @root.appId }}-choices">
                <input type="checkbox" name="configuration.choices.{{ @key }}.replacement"
                       {{ checked replacement }} aria-labelledby="{{ @root.appId }}-replacement">

        </div>
      </div>
    {{/each}}
  </div>
</form>
